[Unit]
Description=SSH Agent Pipe for WSL2
ConditionPathExists=%h/.ssh/npiperelay.exe

[Service]
ExecStartPre=-rm %h/.ssh/agent.sock
# ExecStartPre の段階では $WSL_INTEROP がない
# ExecStartPre=-echo aa "$WSL_INTEROP" -> "echo aa"
ExecStart=%h/.config/systemd/user/wsl2-ssh-agent-exec.sh
ExecStopPost=-rm %h/.ssh/agent.sock

[Install]
WantedBy=default.target
