*

!*/

!.gitignore
!.tmux.conf
!install.sh
!install_small.sh
!.bashrc
!.zshrc
!.vimrc
!.ssh/rc
!git/config
!git/ignore
!.config/systemd/**/*
!abbreviations
!small/.config/git
!small/.config/zsh
!small/.config/aquaproj-aqua/aqua.yaml
!small/.ssh/rc
!.digrc
!README.md
!.local/bin/scripts/**
!.config/nvim/**
!.config/wezterm/wezterm.lua
!.config/aquaproj-aqua/aqua.yaml
