*

!*/

!.gitignore
!.tmux.conf
!install.sh
!install_small.sh
!.bashrc
!.zshrc
!.vimrc
!.ssh/rc
!git/config
!git/ignore
!.config/nvim/*
!abbreviations
!small/.config/git
!small/.config/zsh
!small/.ssh/rc
!.digrc
