*

!*/

!.gitignore
!.tmux.conf
!install.sh
!.bashrc
!.zshrc
!.vimrc
!.ssh/rc
!.config/git/config
!.config/git/ignore
!.config/nvim/*
!.config/fish/fish_plugins
!.config/fish/config.fish
!.config/zsh/abbreviations
